<div *ngIf="!user">
    <h1 style="text-align: center;">You need to be logged in to see the basket</h1>
</div>
<div class="spinner" *ngIf="!baskets && user">
    <mat-spinner class="matspinner"></mat-spinner>

</div>
<div class="container" *ngIf="user && baskets">
    <h1 style="text-align: center;">BASKET</h1>
    <div *ngFor="let basket of baskets" class="card mb-3" style="max-width: 1000px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{basket.guitar.image}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ basket.guitar.model + ' ' +basket.guitar.release_year}}</h5>
                    <p class="card-text">{{basket.guitar.description}}</p>
                    <p class="card-text-price"> <small class="text-muted"><b>Price: {{basket.guitar.price}}
                                &euro;</b></small>
                    </p>

                    <p>
                        <button (click)="onDelete(basket.id!)" class="btn btn-outline-danger">Delete</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="baskets && baskets.length !== 0 ">
        <p>Total price = {{totalPrice}}</p>
        <p class="card-text-price"><button routerLink="/checkout" class="btn btn-outline-success">Order</button></p>
    </div>
    <div *ngIf="baskets && baskets.length === 0 ">
        <h2 style="text-align: center;">Your basket is empty</h2>
    </div>
</div>