.active1:focus {
    border-color: rgb(54, 202, 73);
}


.active1 {
    border: 3px solid rgb(81, 207, 81);
    transition-property: border-color;
    transition-duration: 0.2s;
    transition-delay: 0.5s;
}


.card.mb-3 {
    position: relative;
    /* z-index: 0; */
    overflow: hidden;
    transition: all 0.1s;
    transition-delay: 0.2s;
}

.card.mb-3:hover {
    border: 3px solid gray;
}

.card.mb-3::before {
    content: '';
    background-color: rgb(192, 176, 176);
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    position: absolute;
    transition: all 0.5s;
    transform: translateX(-100%) rotate(45deg);
}

.card.mb-3:hover::before {
    transform: translateX(100%) rotate(45deg);
}