<!-- <hr>
<div class="spinner" *ngIf="!fakeGuitars">
    <mat-spinner class="matspinner"></mat-spinner>

</div>

<mat-drawer-container class="example-container" [hasBackdrop]="true" *ngIf="fakeGuitars">
    <mat-drawer #drawer class="example-sidenav">
        <mat-form-field appearance="fill">
            <mat-label>Brand</mat-label>
            <mat-select class="matSelect" [(ngModel)]="selectedBrand">
                <mat-option value="none">None</mat-option>
                <mat-option value="1">Fender</mat-option>
                <mat-option value="4">Ibanez</mat-option>
                <mat-option value="9">PRS</mat-option>
                <mat-option value="10">Epiphone</mat-option>
                <mat-option value="12">Squire</mat-option>
                <mat-option value="13">Gibson</mat-option>

            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Guitar Type</mat-label>
            <mat-select class="matSelect" [(ngModel)]="selectedGuitarType">
                <mat-option value="none">None</mat-option>
                <mat-option value="1">Solid</mat-option>
                <mat-option value="2">Semi-Hollow</mat-option>
                <mat-option value="3">Hollow</mat-option>
                <mat-option value="4">7 string</mat-option>
            </mat-select>
        </mat-form-field>

        <br>
        <button mat-stroked-button color="accent" (click)="OnFilter(drawer)">Filter</button>
    </mat-drawer>
    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon>filter_list</mat-icon>
        </button>
    </div>
    <div *ngIf="fakeGuitars && fakeGuitars.length!=0">



        <div class="row">
            <div class="col-xs-12">
                <app-guitar-list-item *ngFor="let guitar of fakeGuitars, let i =index" [guitar]="guitar">
                </app-guitar-list-item>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12">
                <mat-paginator class="pagginator" [length]="length" [pageSize]="5" (page)="OnPagginationEvent($event)"
                    aria-label="Select page">
                </mat-paginator>
            </div>
        </div>

    </div>
</mat-drawer-container> -->
<!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
    aria-controls="offcanvasExample">
    <mat-icon>filter_list</mat-icon>
</button> -->

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <label for="#selectBrand">Bran</label>
        <select id="selectBrand" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
            [(ngModel)]="selectedBrand">
            <option value="none">None</option>
            <option value="1">Fender</option>
            <option value="4">Ibanez</option>
            <option value="9">PRS</option>
            <option value="10">Epiphone</option>
            <option value="12">Squire</option>
            <option value="13">Gibson</option>

        </select>




        <br>
        <label for="#guitarType">Guitar Type</label>
        <select id="guitarType" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
            [(ngModel)]="selectedGuitarType">
            <option value="none">None</option>
            <option value="1">Solid</option>
            <option value="2">Semi-Hollow</option>
            <option value="3">Hollow</option>
            <option value="4">7 string</option>
        </select>


        <br>
        <button mat-stroked-button color="accent" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
            (click)="OnFilter()">Filter</button>
    </div>
</div>

<div *ngIf="fakeGuitars && fakeGuitars.length!=0">
    <hr>
    <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"
        mat-button>
        <mat-icon>filter_list</mat-icon>
    </button>

    <div class="row">
        <div class="col-xs-12">
            <app-guitar-list-item *ngFor="let guitar of fakeGuitars, let i =index" [guitar]="guitar">
            </app-guitar-list-item>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <mat-paginator class="pagginator" [length]="length" [pageSize]="5" (page)="OnPagginationEvent($event)"
                aria-label="Select page">
            </mat-paginator>
        </div>
    </div>

</div>