<nav class="navbar navbar-expand-lg bg-light ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" routerLinkActive="active"><img
        src="https://sc1.musik-produktiv.com/pic-010131765xxl/gibson-custom-shop-1960-les-paul-standard-light-aged.jpg"
        style="height: 50px; border-radius: 20px;" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active1">
          <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="myMatchOptions" routerLinkActive="active1" aria-current="page"
            routerLink="/guitars" [queryParams]="{type: 'all'}">Products</a>
        </li>
        <li class="nav-item">

        </li>



      </ul>
      <div class="dropstart my-dropdown d-flex">

        <mat-icon data-bs-toggle="dropdown" aria-expanded="false">account_circle</mat-icon>

        <ul class="dropdown-menu">
          <li class="nav-item" *ngIf="!user">
            <a class="nav-link" aria-current="page" routerLink="/auth" [queryParams]="{pathBack:'orders', id:'-1'}">Log
              in</a>
          </li>
          <div *ngIf="user">

            <li class="nav-item" routerLinkActive="active1">
              <a class="nav-link" aria-current="page" routerLink="/logOut">Log out</a>
            </li>
            <li class="nav-item" routerLinkActive="active1">
              <a class="nav-link" aria-current="page" routerLink="/orders">Orders</a>
            </li>
            <li class="nav-item" routerLinkActive="active1">
              <a class="nav-link" aria-current="page" routerLink="/basket">Basket</a>
            </li>
            <li class="nav-item" routerLinkActive="active1">
              <a class="nav-link" aria-current="page" routerLink="/userProfile">
                Your Profile
              </a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Offcanvas dark navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" style="background-color: #272727;">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav> -->